.activities {
  // display: grid;
  // column-gap: 5rem;
  position: relative;
  padding-bottom: 6rem;
  margin: 0 3rem;

  &__main {
    position: absolute;
    transform: translateY(-40%);

    &_container {
      // height: 7rem;
  
      &--item {
        // width: 100%;
        height: 100%;
        background: #172c71;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
        color: white;

        .tournament__name {
          // background: blueviolet;
          // margin-bottom: 1rem;
        }

        .team__names {
          text-align: center;

          h3 {
            margin: 0;
            font-size: 1.75rem;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media( max-width: 500px ) {
  .activities {
    position: relative;
    padding-bottom: 0;
    margin: 2rem 1rem;
  
    &__main {
      position: relative;
      transform: translateY(0%);
  
      &_container {
        width: 100%;
    
        &--item {
          width: 100%;
          height: 100%;
          padding: 1.25rem 0;

          .team__names {
  
            h3 {
              margin: 0;
              font-size: 1.5rem;
            }
  
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}