.header {
  position: fixed;
  z-index: 10;
  min-width: 1280px;
  width: 100%;
  color: white;

  .extenalNav {
    width: 100%;
    height: 3rem;
    background: #172c71;
  }

  .container {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      position: relative;

      .logoContainer {
        position: absolute;
        top: -70px;
        background: url('../../../images/logo.png') no-repeat;
        // background: white;
        background-size: cover;
        width: 100px;
        height: 110px;
        color: white;
      }
    }
  
    .team_menu {

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        // background: burlywood;
  
        a {
          text-decoration: none;
          color: white;

          li {
            padding: 0 1rem;
            cursor: pointer;
            display: flex;
            // background: burlywood;
          }
        }

        .menu {
          display: none;
        }
      }
    }
  
    .authSection {
      display: flex;
      justify-content: flex-end;
  
      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

@media( max-width: 500px) {
  .header {
    position: relative;
    min-width: 100%;
    width: 100%;
  
    .extenalNav {
      display: none;
    }
  
    .container {
      position: absolute;
      padding: 1rem 1rem;
  
      .logo {
        position: relative;
  
        .logoContainer {
          position: absolute;
          top: 0px;
          width: 60px;
          height: 70px;
        }
      }
    
      .team_menu {
        // display: none;
        position: fixed;
        top: 0;
        right: 1rem;
        width: 100%;

        ul {
          display: none; // flex
          list-style: none;
          flex-direction: column;
          align-items: flex-end;
          margin: 1rem 0 1rem 0;
          padding: 0rem;
          // background: white;
    
          a {
            text-decoration: none;
            color: #172c71;
            display: block;
  
            li {
              padding: 1rem 1rem;
              cursor: pointer;
              display: flex;
              background: white;
              margin-bottom: .25rem;
            }
          }
        }

        .menu {
          display: flex;
          position: absolute;
          right: 0;
          top: 1.75rem;
          cursor: pointer;
          background: white;
          height: .20em;
          width: 2.25rem;

          &::before {
            content: '';
            height: .20rem;
            width: 2.25rem;
            position: absolute;
            background: white;
            top: -10px;
          }

          &::after {
            content: '';
            height: .20rem;
            width: 1.75rem;
            position: absolute;
            background: white;
            top: 10px;
            left: 0px;
          }
        }
      }
    
      .authSection {
        display: none;
      }
    }
  }
}