@import './styles/components/Home/banner';
@import './styles//components//layouts/header';
@import './styles/components/Home/activities';
@import './styles/components/Home/latestnews';
@import './styles/components/Home/performers';